<!DOCTYPE html>
<html lang="en">
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
        <meta name="description" content="Website of Justin Li, Assistant Professor of Computer Science and Cognitive Science at Occidental College">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/x-icon" href="/{{ THEME_STATIC_DIR }}/images/owl-016t.png">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Cardo:700&display=swap">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap">
        <link rel="stylesheet" type="text/css" href="/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}">
        <link rel="stylesheet" type="text/css" href="/{{ THEME_STATIC_DIR }}/css/pygments.css">
        {% block header %}{%endblock%}
        {% if FEED_ALL_ATOM %}
        <link rel="alternate" type="application/atom+xml" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" title="{{ SITENAME }} Atom Feed">
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link rel="alternate" type="application/rss+xml" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" title="{{ SITENAME }} RSS Feed">
        {% endif %}
    </head>

    <body>

        <h1><a href="/">{{ SITENAME }}</a></h1>

        <nav class="hidden-print">
        {% if DISPLAY_PAGES_ON_MENU -%}
        {% for pg in pages %}
            <a href="/{{ pg.url }}"{% if pg == page %} class="active"{% endif %}>{{ pg.short_title }}</a>
        {% endfor %}
        {% endif %}
        {% for title, link in MENUITEMS %}
            <a href="{{ link }}"{% if title == "Writings" and (category is defined or output_file == ARCHIVES_SAVE_AS) %} class="active"{% endif %}>{{ title }}</a>
        {% endfor %}
        </nav>

        <hr class="hidden-print">

        {% block content %}{% endblock %}

        <div id="footer" class="hidden-print">
            <hr>
            {% block footer %}{% endblock %}
            <p>
                &copy; Justin Li, licensed <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en_US" rel="license">CC-BY-SA</a>.<br>
                <a href="https://github.com/justinnhli/website">Generated</a> with <a href="https://blog.getpelican.com">Pelican</a>.
            </p>
        </div>

    </body>

</html>
