body {background-color:#EEEEEC; color:#2E3436; font-family:'EB Garamond',Garamond,serif; font-size:14pt; line-height:18pt;}
.row {margin-left:0; margin-right:0;}

h1, h2, h3, h4 {font-family:'Cardo',serif; font-variant:small-caps; letter-spacing:0.05em; margin:0;}
h1 {color:#4E9A06; font-size:20pt; font-weight:bold; line-height:36pt; text-align:center;}
h2 {color:#4E9A06; font-size:18pt; font-weight:bold; line-height:36pt;}
h3 {font-size:16pt; font-weight:bold; line-height:18pt;}
h4 {font-size:16pt; font-weight:bold; font-variant:normal; line-height:18pt;}
h5 {font-size:14pt; font-weight:bold;}
h6 {font-size:14pt;}
h1 a, h1 a:active, h1 a:hover, h1 a:visited {text-decoration:none;}
h2 a, h2 a:active, h2 a:hover, h2 a:visited {text-decoration:none;}
h3 a, h3 a:active, h3 a:hover, h3 a:visited {text-decoration:none;}

a, a:active, a:visited {color:inherit; text-decoration:underline;}
a:hover {color:#2F5609;}

p {margin:0 0 20pt 0;}
blockquote {border-left-color:#D3D7CF; margin:0 0 20pt 0; padding-top:0; padding-bottom:0;}
blockquote p {font-size:14pt; font-weight:normal; line-height:18pt; margin:0 0 20pt 0;}
img {max-width:100%;}
code {background-color:transparent; color:inherit; font-family:monospace;}

/* lists */
ul, ol, dl {margin:0 0 20pt 1em;}
ul ul, ul ol, ol ul, ol ol {margin-left:-0.75em;}
ul {list-style-type:circle;}
li {line-height:18pt;}
ol li {list-style-type:decimal;}
ol li ol li {list-style-type:lower-latin;}
ol li ol li ol li {list-style-type:lower-roman;}

hr {border:1px solid #D3D7CF; margin:0 0 18pt 0;}

/* TABLES */
table {margin:0 auto;}
/* general table cells */
tr {border-style:none;}
th, td {border-style:none; padding:7.5pt; vertical-align:top;}
th {font-weight:bold; text-align:center;}
/* column header */
tr:first-child th {border-bottom:2px solid #D3D7CF;}
tr:first-child th:first-child {text-align:center; border-right-style:none;}
/* row header */
th:first-child {border-right:2px solid #D3D7CF; text-align:right;}
/* last row */

/* FORMS */
input[type=radio], input[type=checkbox] {display:inline;}

@media print {
	body {font-size:12pt; line-height:16pt;}
	h2 {text-align:center;}
	a {text-decoration:none;}
	a[href]:after {content:none;}
}

/* SITE ELEMENTS */

#site-title {margin:20pt 0 5pt 0;}

#nav.list-inline {display:table; width:100%;}
#nav.list-inline li {display:table-cell; width:1%; text-align:center;}

#archives {width:100%; margin:0 0 20pt 0;}
#archives th {border-style:none; font-weight:normal; padding:1.5pt 0; width:20%;}
#archives td {border-style:none; font-weight:normal; padding:1.5pt 2em;}

#footer {font-size:smaller; text-align:center;}
