h2 {margin-bottom:1em;}
#cv-contact-right {float:right; text-align:right;}
.indented {padding-left:2em;}
.cv-table {padding-left:1em; width:100%;}
.cv-table td:first-child {padding-left:0; width:75%;}
.cv-table td:last-child {text-align:right; width:25%;}
.cv-table tr, .cv-table td {border-style:none;}
.cv-table span.addendum {padding-left:2em;}
.cv-paragraph {margin:10px 0 10px 1em;}
.cv-me {font-weight:bold; line-height:15pt;}
a.cv-title, a.cv-title:visited {color:#3D7A04;}
.cv-booktitle {font-style:italic;}

@media screen {
	.hidden-screen {display:none;}
}

@media print {
	h2 {display:none;}
	h3 {page-break-after:avoid;}
	#publications {page-break-before:always;} /* TODO adjust when updating */
	.cv-list {margin:0; padding-left:0; page-break-before:avoid;}
	.cv-table {margin-left:0; page-break-before:avoid;}
	.cv-table tr {page-break-inside:avoid;}
	.cv-table td:first-child {padding-left:0;}
}
