# set 404 page
ErrorDocument 404 /pages/404.html

# redirect /cal[endar] to Google Calendar
Redirect /cal https://calendar.google.com/calendar/embed?src=justinnhli@gmail.com&mode=week
Redirect /calendar https://calendar.google.com/calendar/embed?src=justinnhli@gmail.com&mode=week

# redirect /cv to CV
Redirect /cv /pages/curriculum-vitae.html

# redirect /meet to a calendar service
Redirect /meet https://calendly.com/justinnhli/15min

# redirect /oh and /office-hours to Oxy Faculty page
Redirect /oh https://www.oxy.edu/faculty/justin-li
Redirect /office-hours https://www.oxy.edu/faculty/justin-li

# redirect /subitize to Subitize
Redirect /subitize https://subitize.fly.dev 

# redirect to https
RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://justinnhli.com/$1 [R,L]
