# set 404 page
ErrorDocument 404 /pages/404.html

# redirect /cal[endar] to Google Calendar
Redirect /cal https://calendar.google.com/calendar/embed?src=justinnhli@gmail.com
Redirect /calendar https://calendar.google.com/calendar/embed?src=justinnhli@gmail.com

# redirect /cv to CV
Redirect /cv /pages/curriculum-vitae.html

# redirect /meet to Doodle
Redirect /meet https://doodle.com/justinnhli

# redirect /office-hours to Oxy Faculty page
Redirect /office-hours https://www.oxy.edu/faculty/justin-li

# redirect /slack to personal Slack workspace
Redirect /slack https://justinnhli.slack.com/

# redirect to https
RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://justinnhli.com/$1 [R,L]
